<div class="container-fluid">
  <div class="row seccion1">
    <div routerLink="/lp" (mouseenter)="transitionstart($event)" class="col-lg-3 ">
      <div class="info hidden-md-down">
        <h1>Landing Page 1</h1>
      </div>
    </div>
    <div routerLink="/lp2" (mouseenter)="transitionstart($event)" class="col-lg-3 ">
      <div class="info hidden-md-down">
        <h1>Landing Page 2</h1>
      </div>
    </div>
    <div routerLink="/lp3" (mouseenter)="transitionstart($event)" class="col-lg-3 ">
      <div class="info hidden-md-down">
        <h1>Landing Page 3</h1>
      </div>
    </div>
    <div routerLink="/lp4" (mouseenter)="transitionstart($event)" class="col-lg-3 ">
      <div class="info hidden-md-down">
        <h1>Landing Page 4</h1>
      </div>
    </div>
  </div>
</div>
